@section scripts
{
    <script type="text/javascript">
        $(function () 
        {

            var Model = function () 
            {
                var self = this;
                self.data = 
                {
                    proposito: ko.observable(1),
                    fechainicio: ko.observable(DateIni()),
                    fechafin: ko.observable(DateNow())
                };

                self.listResultado = getJson('@Url.Content("~/api/Planificacion/ResultadoTC/List")');
                self.idResultado = ko.observable();
                
                self.Search = function (form) 
                {
                    if ($(form).refreshValidator().valid()) {
                        var fechainicio = formatDate_YYYYMMDD(self.data.fechainicio());
                        var fechafin = formatDate_YYYYMMDD(self.data.fechafin());
                        var idResultado = self.idResultado();
                        var idProposito = self.data.proposito();

                        if (fechainicio.substring(0, 4) != fechafin.substring(0, 4)) {
                            alert("Las fechas de inicio y fin deben estar contendidas dentro de un año.");
                            return;
                        }

                        if (typeof idResultado === 'undefined')
                            idResultado = '0';

                        idProposito = (Boolean(idProposito))?'1':'0';

                        var cadena = "../Reports/ReportPage.aspx?reporte=3&idResultado=" + idResultado + "&idProposito=" + idProposito +
                                     "&fechainicio=" + fechainicio + "&fechafin=" + fechafin;
                        ShowPopupArchivo(cadena, 1200, 640);
                    }
                    
                }
            }

            ko.applyBindings(new Model());
        })
    </script>
}

<div class="toolbar">
    <button type="button" class="refresh" title="Refrescar" onclick="document.location.reload()"></button>
</div>

<fieldset>
    <legend>Buscar encuesta</legend>
    <form data-bind="submit: Search">
        <table style="width:40%;">
            <colgroup>
                <col style="width: 150px" />
                <col />
                <col />
                <col />
                <col />
            </colgroup>
            <tr>
                <td>Desde
                </td>
                <td>
                    @Html.koDate("data.fechainicio",width:100,required:true)
                </td>
                <td></td>
                <td>Hasta
                </td>
                <td>
                    @Html.koDate("data.fechafin",width:100,required:true, min: "data.fechainicio")
                </td>                
            </tr>
        </table>
        <table style="width: 100%">
        <colgroup>
            <col style="width: 150px" />
            <col />
            <col style="width: 100px" />
        </colgroup>
        <tr>
            <td>Inlcuir propósito
            </td>
            <td>
                <input type="checkbox" data-bind="checked: data.proposito, attr: {name: 'checkBoxproposito'}" />
            </td>
            <td>
            </td>
        </tr>     
        <tr>
            <td>Resultado
            </td>
            <td>
                <select style="width:100%" data-bind="value: idResultado, options: $root.listResultado, optionsText: 'nombre', optionsValue: 'id', optionsCaption: '[Todos]' , uniqueName: true"/>
            </td>
            <td>
                <button type="submit" >Ver Reporte</button>
            </td>
        </tr>        
    </table>
    </form>
</fieldset>

