<div class="toolbar">
</div>

<fieldset>
    <legend>Seleccione el archivo</legend>

    <table class="grid">
        <colgroup>
            <col style="width: 50px" />
            <col />
            <col style="width: 28px" />
        </colgroup>
        <thead>
            <tr>
                <th>Nª
                </th>
                <th>Archivo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Encuesta asociación de productores.docx</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/EvaluacionTC/encuesta_asociación_productores.docx")';"></button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ficha de Registro de Iniciativa Juvenil.doc</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/EvaluacionTC/encuesta_iniciativas_juveniles.doc")';"></button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Encuesta Pobladores-Jóvenes-Productores.docx</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/EvaluacionTC/encuesta_pobladores.docx")';"></button>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Instituciones Publicas - Privadas y Empresas.doc</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/EvaluacionTC/encuesta_empresas.doc")';"></button>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
