@if (ViewBag.Error != null)
{
    @section scripts{
        <script>
            alert('@Html.Raw(ViewBag.Error)');
        </script>
    }
}
<form method="post">
    <div class="toolbar">
        <button type="submit" class="save" title="Guardar"></button>
        <button type="button" class="refresh" title="Refrescar" onclick="document.location.reload()"></button>
    </div>
    <fieldset>
        <legend>Cambiar contraseña</legend>
        <table style="margin-top: 10px;">
            <tr>
                <td>Contraseña antigua
                </td>
                <td>
                    <input type="text" name="old" data-val="true" data-val-required />
                </td>
            </tr>
            <tr>
                <td>Contraseña nueva
                </td>
                <td>
                    <input type="text" name="new" data-val="true" data-val-required />
                </td>
            </tr>
            <tr>
                <td>Contraseña nueva (repetir)
                </td>
                <td>
                    <input type="text" name="new2" data-val="true" data-val-required data-val-equalto data-val-equalto-other="new" />
                </td>
            </tr>
        </table>
    </fieldset>
</form>
