@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script>
        function getFrameForDocument(document) {
            var w = document.defaultView || document.parentWindow;
            var frames = w.parent.document.getElementsByTagName('iframe');
            for (var i = frames.length; i-- > 0;) {
                var frame = frames[i];
                try {
                    var d = frame.contentDocument || frame.contentWindow.document;
                    if (d === document)
                        return frame;
                } catch (e) { }
            }
        }

        alert('Su contraseña fue cambiada.')
        window.parent.$('#content').jqxTabs('removeAt', window.parent.$(getFrameForDocument(document)).parent().index())
    </script>
</head>
<body>
</body>
</html>
